<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}

</head>

<body>

    {{>navbar}}

    <!-- main content of page -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto ">
          <div class="row">

            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="./images/img5.jpg" alt="imh" class="img-fluid">
                </figure>
             </div>
             <div class="col-md-6 col-12 main_header_left ">
                 <p>Welcome To 404 Error Page</p>
                 <h1 ><span class="txt_cl">404 error </span> occured this page is not found </h1>
                      <a href="/"><button>Back</button></a>
             </div>
             
          </div>
        </div>
    </div>
   </div>

   


    <!-- footer of page -->
    {{>footer}}
</body>

</html>