<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}

</head>

<body>

    {{>navbar}}

    <!-- main content of page -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto ">
          <div class="row">

            <div class="col-lg-6 col-12 main_header_right">
                <figure>
                    <img src="./images/img3.jpg" alt="imh" class="img-fluid">
                </figure>
             </div>
             <div class="col-lg-6 col-12 main_header_left ">
                 <p>Welcome To My About Page</p>
                 <h1 >i am a<span class="txt_cl">Mern stack devloper</span> and software engineer  </h1>
                      <a href="https://docs.google.com/document/d/1jhIjMzmcBLSqpVlLNcNS3PqxOipszOFZiluDLJKv7Kw/edit?usp=share_link" target="_blank"><button>Download</button></a>
             </div>
             
          </div>
        </div>
    </div>
   </div>

   


    <!-- footer of page -->
    {{>footer}}
</body>

</html>